<!DOCTYPE html>
<html>
    <head>
        <title>
           Pregacare
        </title>
        <meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel=stylesheet href="/stylesheets/main.css" >
        <link href="/stylesheets/templatemo-style.css" rel="stylesheet">
        <link href="/stylesheets/a1.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/chat.css">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    </head>
    <body>
<div class="templatemo-flex-row">
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <h2><b>Hello!</b></h2>
        </header>
        <div class="profile-photo-container">
          <img src="https://cdn2.iconfinder.com/data/icons/person-gender-hairstyle-clothes-variations/48/Female-Side-comb-O-neck-512.png" alt="Profile Photo" class="img-responsive">
        </div>
        <h2 id="user-name"><%= currentUser.username %></h2>
        <a href="/profile"><button class="profile-btn" style="margin-bottom: 50px;">PROFILE</button></a>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">          
          <ul>
            <li><a href="/ecell/users" class="active"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li><a href="/map"><i class="fa fa-map-marker fa-fw"></i>Near By Hospitals</a></li>
            <li><a href="/chat"><i class="fa fa-eject fa-fw"></i>Chat Bot</a></li>
            <li><a href="/logout"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
          </ul>  
        </nav>
      </div>
      <!-- Main content --> 
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
                <li><a href="/vaccination">Vaccinations</a></li>
                <li><a href="/certificate">Birth Certificate</a></li>
                <li><a href="/find">Find Doctor</a></li>
                 <li><a href="/diet">Diet Chart</a></li>
              </ul>  
            </nav> 
          </div>
        </div>  