<% include ./partials/header2 %> 
<div style="background-image: url('https://images.pexels.com/photos/654642/pexels-photo-654642.jpeg?w=940&h=650&auto=compress&cs=tinysrgb'); background-size: 100% 100%; background-repeat: no-repeat;">
<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
	          <h1>Book An Appointment</h1>
	        </header>
	        <form action="/certificate" method="POST" class="templatemo-login-form">
	        	<div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="text" class="form-control" name="name" placeholder="name">           
		          	</div>	
	        	</div>
	            <div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="date" class="form-control" name="dob" placeholder="date of birth">           
		          	</div>	
	        	</div>
	            <div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="text" class="form-control" name="age" placeholder="age">           
		          	</div>	
	        	</div>
	            <div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="date" class="form-control" name="data" placeholder="date">           
		          	</div>	
	        	</div>
	            <div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="time" class="form-control" name="timming" placeholder="timming">           
		          	</div>	
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>	        		
		              	<textarea rows="6" cols="60" class="form-control" name="address" placeholder="address"></textarea>           
		          	</div>	
	        	</div>	   
	        	<div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="text" class="form-control" name="mobile" placeholder="mobile">           
		          	</div>	
	        	</div>	        	
	        	<div class="form-group">
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
		              	<input type="text" class="form-control" name="email" placeholder="email">           
		          	</div>	
	        	</div>
				<div class="form-group">
					<button type="submit" class="templatemo-blue-button width-100">Submit</button>
				</div>
	        </form>
		</div>
		</div>
<% include ./partials/footer2 %> 