<% include ./partials/header2 %> 
<div style="background-image: url('https://static.pexels.com/photos/220574/pexels-photo-220574.jpeg'); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="container">
  <h3 style="color:Coral;">NUTRITION CHART FOR PREGNANT WOMEN</h3>     
  <table class="table table-hover" >
    <thead>
      <tr style="color:Blue;">
	    <th>@</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	  <td style="color:Blue ;"><b>Breakfast</b></td>
        <td style="color:Black;">Parfait w.Greek
		Yoghurt pecans
		Mixed berries
		Snacks: Apple and 
		Almond Butter</td>
		
        <td style="color:Black ;">Poached Eggs,
		Tomatoes and fresh Basil
		Snacks:celery & 
		Almond Butter</td>
        
		<td style="color:Black;">MIni Friattas w/
		RoastedCauliflower
		Snacks:
		Grapes & Swiss Cheese</td>
      
	  <td style="color:Black;">Strawberry 
	  Protein Shake w/
	  Creamy Almond 
	  Butter</td>
	  
      <td style="color:Black;">Egg Whites 
	  and Saute
	  Kale</td>
	  
	   <td style="color:Black;">Rolled oats
	   w/ Banana</td>

	   <td style="color:Black;">Scrambeled
	   Egg Whites 
	   & 1/2 a
	   Grapefruit</td>
      </tr>
      <tr>
	  
        <td style="color:Blue ;"><b>Lunch</b></td>
        <td style="color:Black;">Tuna Salad
		Romainen Lettuce
		Wrap W/Fresh
		Fruit</td>
		
        <td style="color:Black ;">Spinach
		Salad with
		Strawberries</td>
		
		<td style="color:Black;">Chicken 
		Breast Baked
		Sweet Potato</td>
		
		<td style="color:Black;">Salmon Salad
		With Fresh
		Fruit</td>
		
		<td style="color:Black;">Turkey &
		Avocado
		on
		Sourdough</td>
		
		<td style="color:Black;">Chicken Salad,
		Tomatoes 
		Strawberries
		</td>
		
		<td style="color:Black;">Shrimp Salad,
		Sprinkled Lime</td>
		
      </tr>
	  
     <tr>
	  
        <td style="color:Blue ;"><b>Snacks</b></td>
        <td style="color:Black;">Almonds\
		& Dried 
		Cranberries</td>
		
        <td style="color:Black ;">Celery Sticks</td>
		
		<td style="color:Black ;">Apple SLices</td>
		
		<td style="color:Black ;" >Hummus &
		Carrot Sticks</td>
		
		<td style="color:Black ;">Trial Mix</td>
		
		<td style="color:Black ;">Carrot Sticks
		& Blueberries
		</td>
		
		<td style="color:Black ;">Celery 
		Sticks</td>
		
      </tr>
	  
	   <tr>
	  
        <td style="color:Blue ;"><b>Dinner</b></td>
        <td style="color:Black  ;">Turkey,
		Burgers &
		Spinach
		Salad</td>
		
        <td style="color:Black  ;">Shrimp stir fry
		w/ Mixed
		Veggies</td>
		
		<td style="color:Black  ;">Grilled Streak
		with
		Sauteed Kale</td>
		
		<td style="color:Black  ;">Italian Herb
		Salmon
		with 
		Broccolini</td>
		
		<td style="color:Black  ;">Broiled Salmon</td>
		
		<td style="color:Black  ;">Stuffed Peppers,
		Roasted Sweet Potato</td>
		
		<td style="color:Black  ;">Cajun
		Shrimp with
		rice & Kale</td>
		
      </tr>
	  <tr>
	  
        <td style="color:Blue ;"><b>Dessert</b></td>
        <td style="color:Black  ;">Cocoa-
		Banana
		Smoothie</td>
		
        <td style="color:Black  ;">Dark Chocolate</td>
		
		<td style="color:Black  ;">Frozen Chocolate</td>
		
		<td style="color:Black ;">Rice Pudding</td>
		
		<td style="color:Black ;">Chocolate
		covered Banana</td>
		
		<td style="color:Black ;">Strawberries
		& Fresh
		Whipped Cream</td>
		
		<td style="color:Black ;">Dark Chocolate</td>
		
      </tr>
	  
    </tbody>
  </table>
</div>
            </div>
          </div>
        </div>
        </div>

<% include ./partials/footer2 %> 