<DOCTYPE html>
    <html>  
        <head>
            <title>
             Pregacare | A place where maternity is served
            </title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="/stylesheets/style.css" rel="stylesheet" >
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Questrial" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" integrity="sha256-fDncdclXlALqR3HOO34OGHxek91q8ApmD3gGldM+Rng=" crossorigin="anonymous"/>
            <link href="https://fonts.googleapis.com/css?family=Bungee|Salsa" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Anton|Lobster" rel="stylesheet">
        </head>
        <body style="background-color: #383838">
            <% if(messages){ %>
                <div class="alert alert-success" role="alert">
                    <strong></strong> <%=messages%>
                </div>
            <% } %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://publicflex.com/images/thiago-cerqueira-191866.jpg" alt="First slide">
                                    <div class="carousel-caption slider-content">
                                        <h3 style="color:white;">
                                            We At Pregacare</h3>
                                        <p style="color:white;">
                                            Care For You and Your Baby
                                            </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://www.theregionsofitaly.com/it/wp-content/uploads/2015/04/collaborazioni-theregionsofitaly.jpg" alt="Second slide">
                                    <div class="carousel-caption slider-content">
                                        <h3 style="color:white;">
                                            We At Pregacare</h3>
                                        <p style="color:white;">
                                            Look After Your Daily Routine</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://uspmaker.com/wp-content/uploads/2016/09/mit-einer-idee-schwanger-gehen.jpg" alt="Third slide">
                                    <div class="carousel-caption slider-content">
                                        <h3 style="color:white;">
                                            We At Pregacare</h3>
                                        <p style="color:white;">
                                            Help You To be In Regular Check</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                                    href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                                    </span></a>
                        </div>
                        <div class="main-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h1 style="font-size: 100px; font-family: Lobster; color: #097a74;">
                                    Pregacare</h1>
                                <h3 style="font-family: salsa; color: #097a74; font-size: 50px; padding-top: 40px;">
                                    From Here To Maternity
                                </h3>
                                <div class="text-right text-top" style="margin-top: -500px;">
                                    <a class="btn btn-clear btn-sm btn-min-block" style=" margin-right: -20px; color: #097a74; border-color: #097a74;" href="/login">Login</a>
                                    <a class="btn btn-clear btn-sm btn-min-block" style=" margin-right: -40px; color: #097a74; border-color: #097a74;" href="/register">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha256-4OK8Th0+5QJMThqlimytmqQvxjqMic4YATocjyuUh1w=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
            
        </body>
    </html>