<% include ./partials/header2 %> 
<div style="background-color: white; background-size: 100% 100%; background-repeat: no-repeat;">
    <h2 style="margin-left: 60px;">Near by Hospitals in <%= currentUser.city %></h2>
        <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2" id="map">
            </div>
          </div>
        </div>
        </div>
<% include ./partials/footer2 %> 
</body>
</html>