<% include ./partials/header2 %> 
<div style="background-image: url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1447880138000/photosp/d5965c00-8811-46a4-a0aa-85f895b5e73e/stock-photo-pink-hand-girl-baby-little-children-happy-sister-d5965c00-8811-46a4-a0aa-85f895b5e73e.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <table class="table table-hover">
                    <thead style="">
                      <tr>
                        <th class="text-center h3">CDC Schedule</th>
                        <th class="text-center h3">Alternative Schedule</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Birth- HepB</td>
                        <td>6 months- Dtap</td>
                      </tr>
                      <tr>
                        <td>2 months- Dtap,Polio,HIB,Pneu,HepB</td>
                        <td>9 months- Dtap</td>
                      </tr>
                      <tr>
                        <td>4 months- Dtap,Polio,HIB,Pneu,Rotavirus</td>
                        <td>12 months- Dtap</td>
                      </tr>
                        <tr>
                        <td>6 months- Dtap,Polio,HIB,FLU/H1N1</td>
                        <td>15 months- HIB</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>12 months- Pneu,MMR>
                        <td>18 months- IPV</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>15 months- Dtap,Polio,HIB,FLU/H1N1,HepA</td>
                        <td>24 months- IPV or Prevnar</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>18 months- Dtap,Polio,HIB,HepA,FLU/H1N1</td>
                        <td>27 months- IPV or Prevnar</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>2.5 years- FLU/H1N1</td>
                        <td>36 months- MMR</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>4-6 years- Dtap,Polio,MMR,Vericella,FLU/H1N1</td>
                        <td>5 years- Whatever was not done till age 4</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
          </div>
        </div>
        </div>
<% include ./partials/footer2 %> 