<% include ../partials/header2 %>

        <div style="background-image: url('https://static.pexels.com/photos/50601/brothers-boys-kids-baby-50601.jpeg'); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2">
              <i class="fa fa-times"></i>
              <b><h2 class="templatemo-inline-block">Pregnancy</h2><hr>
              <p>Pregnancy, also known as gestation, is the time during which one or more offspring develops inside a woman.<br>A multiple pregnancy involves more than one offspring, such as with twins. Pregnancy can occur by sexual intercourse or assisted reproductive technology.[6] Childbirth typically occurs around 40 weeks from the last menstrual period (LMP).This is just over nine months, where each month averages 29½ days.<br>When measured from conception it is about 38 weeks.An embryo is the developing offspring during the first eight weeks following conception,<br>after which, the term fetus is used until birth.[5] Symptoms of early pregnancy may include missed periods, tender breasts, nausea and vomiting, hunger, and frequent urination.<br>Pregnancy may be confirmed with a pregnancy test<br>
                Pregnancy is typically divided into three trimesters.<br> The first trimester is from week one through 12 and includes conception. Conception is when the sperm fertilizes the egg. <br>The fertilized egg then travels down the fallopian tube and attaches to the inside of the uterus, where it begins to form the embryo and placenta. The first trimester carries the highest risk of miscarriage (natural death of embryo or fetus).<br>The second trimester is from week 13 through 28.[4] Around the middle of the second trimester,<br> movement of the fetus may be felt.[4] At 28 weeks, more than 90% of babies can survive outside of the uterus if provided with high-quality medical care.<br>The third trimester is from 29 weeks through 40 weeks.</p>  </b>            
            </b>
            </div>
          </div>
        </div>
          <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2">
              <i class="fa fa-times"></i>
              <b><h2 class="templatemo-inline-block">Proper Diet</h2><hr>
              <p>Pregnancy, also known as gestation, is the time during which one or more offspring develops inside a woman.<br>A multiple pregnancy involves more than one offspring, such as with twins. Pregnancy can occur by sexual intercourse or assisted reproductive technology.[6] Childbirth typically occurs around 40 weeks from the last menstrual period (LMP).This is just over nine months, where each month averages 29½ days.<br>When measured from conception it is about 38 weeks.An embryo is the developing offspring during the first eight weeks following conception,<br>after which, the term fetus is used until birth.[5] Symptoms of early pregnancy may include missed periods, tender breasts, nausea and vomiting, hunger, and frequent urination.<br>Pregnancy may be confirmed with a pregnancy test<br></p> </b>            
              </b>            
            </div>
          </div>
        </div>
                <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-2">
              <i class="fa fa-times"></i>
              <b><h2 class="templatemo-inline-block">Time To time Checkup</h2><hr>
               <p><br>When measured from conception it is about 38 weeks.An embryo is the developing offspring during the first eight weeks following conception,<br>after which, the term fetus is used until birth.[5] Symptoms of early pregnancy may include missed periods, tender breasts, nausea and vomiting, hunger, and frequent urination.<br>Pregnancy may be confirmed with a pregnancy test<br>

                Pregnancy is typically divided into three trimesters.<br> The first trimester is from week one through 12 and includes conception. Conception is when the sperm fertilizes the egg. <br>The fertilized egg then travels down the fallopian tube and attaches to the inside of the uterus, where it begins to form the embryo and placenta. The first trimester carries the highest risk of miscarriage (natural death of embryo or fetus).<br>The second trimester is from week 13 through 28.[4] Around the middle of the second trimester,<br> movement of the fetus may be felt.[4] At 28 weeks, more than 90% of babies can survive outside of the uterus if provided with high-quality medical care.<br>The third trimester is from 29 weeks through 40 weeks.</p>  </b>            
            </b>
            </div>
          </div>
        </div>
        </div>      <!-- Templatemo Script -->
<% include ../partials/footer2 %>